<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Boot User Authentication</title>
</head>
<body>
<form role="form" th:action="@{/user/sign-up}" th:method="post" th:object="${userEntity}">
  <lable>Name</lable>
  <input id="name" name="name" th:field="*{name}" type="text">

  <lable>Email</lable>
  <input id="email" name="email" th:field="*{email}" type="text">

  <lable>Password</lable>
  <input id="password" name="password" th:field="*{password}" type="password">

  <input type="submit">
</form>
</body>
</html>