body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerArea {
  /* margin-top: 1em; */
  margin-bottom: 1em;
  border-bottom: 1px solid #d3d3d3;
}

input {
  padding: 0.5em;
}
select {
  padding: 0.5em;
}

.tableCell {
  padding: 1px 2em;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  vertical-align: inherit;
}

.numeric {
  text-align: right;
}
.tableHeadCell {
  padding: 1em;
  text-align: left;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  border-top: 1px solid rgba(224, 224, 224, 1);
}

.tableHeadCell input{
  padding: .5em;
  text-align: left;
  background-color: white;
}

#statusSearch{
  padding: .5em;
}
#sortBySelect{
  padding: 0.5em 2em .5em .5em;
  width: max-content;
}

.SearchField{
  margin: 0em 2em 0em 0em;
}
.SearchField input{
  width: 55em;
  padding: 7px 5px;
}
.sortBy{
  color: #8F8F8F;
  font-size: 13px;
  margin: 1em 0.5em;
}
/* Text Style Classes */
.flexContents {
  display: flex;
}
.alignRight {
  position: absolute;
  top: 0.5em;
  right: 0.2em;
}
.alignRightFloat {
  display: flex;
  position: relative;
  float: right;
  align-items: center;
}
.headerTitle {
  font-size: 24px;
  vertical-align: middle;
  flex-grow: 1;
}
.title {
  font-size: 40px;
  vertical-align: middle;
  flex-grow: 1;
}
.paddedText {
  padding: 0.5em;
}
.buttonText {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  padding: 0.6em 1.3em;
  border: 0px;
  border-radius: 2em;
  margin: 0.4em;
}
.statusText {
  color: white;
  text-align: center;
  padding: 0.3em;
  width: 90px;
  border-radius: 0.2em;
}
.statusOfflineText {
  color: black;
  text-align: center;
  padding: 0.3em;
  width: 90px;
  border-radius: 0.2em;
}
.chevronText{
  padding-bottom: 0;
  padding-top: 0;
}
.blackFont {
  color: #000000;
}
.hamburger {
  background-color: inherit;
  color: inherit;
  /* margin: 0; */
  /* padding: 0; */
}
.warningText {
  color: #ea5757;
}

/* Scroll bar styling*/

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  opacity: 30%;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
  
}

/* Background Color Classes */
.darkGrey {
  background-color: #373737;
}
.lightGrey {
  background-color: #d3d3d3;
}
.lightestGrey{
  background-color: #f9f9f9;
}
.green {
  background-color: #59bc31;
}
.yellow {
  background-color: #fec300;
}
.red {
  background-color: #ea5757;
}
.blue {
  background-color: #01b2fe;
}